<!-- src/main/resources/templates/fragments/_messages.html -->
<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="_messages">
    <div th:if="${success != null}" class="alert alert-success" th:text="${success}">Success</div>
    <div th:if="${error != null}" class="alert alert-danger" th:text="${error}">Error</div>
    <div th:if="${info != null}" class="alert alert-info" th:text="${info}">Info</div>
    <div th:if="${#fields.hasErrors()}" class="alert alert-danger">
        <ul>
            <li th:each="err : ${#fields.errors('*')}" th:text="${err}">Field error</li>
        </ul>
    </div>
</div>
</body>
</html>
